<div class="row">
  <div class="col-xs-2">
    <h3 class="list-group-item-heading center justify-content align-center">{{car.brand}}</h3>
  </div>
  <div class="col-xs-2">
    <h4 class="list-group-item-heading">{{car.model}}</h4>
  </div>
  <div class="col-xs-2">
    <p class="list-group-item-text">{{car.price}} €</p>
  </div>
  <div class="col-xs-4">
    <p class="list-group-item-text">{{car.description}}</p>
  </div>
  <div class="col-xs-2">
    <img [src]="car.imgPath" alt="{{car.model}}" class="img-responsive" style="max-height: 50px;" />
  </div>
</div>
