<div class="row new-button">
  <div class="col-xs-12">
    <button class="btn btn-success">New car</button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let car of cars | filter: searchText">
      <div *ngIf="car === -1">
        <p class="empty-list">Not available cars</p>
      </div>
      <div *ngIf="car !== -1">
        <a href="#" class="list-group-item clearfix">
          <app-car-item [car]="car"></app-car-item>
        </a>
        <br />
      </div>
    </div>
  </div>
</div>

